// @font-face {
//   font-family: 'Roboto-Regular, sans-serif';
//   src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
//     url('../fonts/Roboto-Regular.woff') format('woff');
//   font-weight: 400;
//   font-display: swap;
// }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pugreo');
    src:  url('../fonts/icomoon.eot?pugreo#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?pugreo') format('truetype'),
      url('../fonts/icomoon.woff?pugreo') format('woff'),
      url('../fonts/icomoon.svg?pugreo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-vk:before {
    content: "\ea98";
  }
  